.color-selection-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .color-selection-content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    max-width: 900px;
    width: 100%;
  }

  .color-selection-item {
    text-align: center;
  }

  .back-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeIn 0.5s forwards 1s;
  }
  
  .back-button:hover {
    background-color: #08F0FF;
    color: #1a1a1a;
    box-shadow: 0 0 20px rgba(8, 240, 255, 0.8);
    border-color: #08F0FF;
  }
