.game-card {
  margin: 1rem;
  width: 250px;
}

.game-card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.game-card-description {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
