.gamer-moment {
  padding: 2rem;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.back-button:hover {
  background-color: #08F0FF;
  color: #1a1a1a;
  box-shadow: 0 0 20px rgba(8, 240, 255, 0.8);
  border-color: #08F0FF;
}


.gamer-moment-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.5em;
}

.game-category {
  margin-bottom: 3rem;
  width: 100%;
}

.game-category h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #7df9ff;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.to-do-next {
  text-align: center;
  margin-top: 3rem;
}

.to-do-next-button {
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.to-do-next-button:hover {
  background-color: #08F0FF;
  color: #1a1a1a;
  box-shadow: 0 0 20px rgba(8, 240, 255, 0.8);
  border-color: #08F0FF;
}

.next-game-display {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-game-display h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
