@import "tailwindcss";

* {
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes zoomInFadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-zoom-in-fade-out {
  animation: zoomInFadeOut 0.5s ease-in-out forwards;
}

@keyframes zoomInOut {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.animate-zoom-in-out {
  animation: zoomInOut 1s ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.animate-float {
  animation: float 10s linear forwards;
}